body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:#F0E4D7;
    color: #250e09;
    background-image: url('../images/homepage_background.JPG');
    background-repeat: no-repeat;
    background-position: 55% 27%;
}

header{
    color: #250e09;
    justify-content: left;
    margin: 20px;
    padding: 14px;
}


/* BODY */
body {
  font-family: Georgia, serif;
  background-color: #f7f4ef;
  color: #250e09;
  line-height: 1.7;
}


.title {
    margin-bottom: 50px;
    text-transform: uppercase;
}



.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 30px 30px 450px;
    border: none;
    box-shadow: none;
}
.card {
    font-size: 1em;
    overflow: hidden;
    padding: 5;
    /*border: none;*/
    box-shadow: 0 1px 3px 0 #ffffff, 0 0 0 8px #250e09;
    margin-top:20px;
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;                     /* Center horizontally */
    width: 5px;                    /* Line thickness */
    background-color: #b2b1b1;        /* Line color */
    transform: translateX(-50%);   /* Perfect centering */
}


/* TAB NAVIGATION */
.tab {
  display:flex;
  justify-content: right;
  gap: 10px;
  margin-bottom: 20px;
}

/* TAB LINKS */
.tab a {
  text-decoration: none;
  color: #222;

  background-color: #dce4ff;

  padding: 20px 20px;

  border-radius: 20px 20px 0 0;

  border: 3.5px solid #54261E;

  transition: 0.3s;

  font-weight: bold;
}